<header class="header">
  <a href="" class="logo">EHost</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
 <!-- -->
  <ul class="menu">
    <li><a href="#work">Our Work</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#careers">Careers</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header>
<section style="padding-top: 150px;" class="hami-features-area bg-gray section-padding-100">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Overall Features</h2>
          <p>Our revolutionary Cloud solution is powerful, simple, and surprisingly affordable.</p>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Single Feature Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-feature-area d-flex mb-50">
          <div class="feature-icon">
            <i class="fas fa-server"></i>
          </div>
          <div class="feature-text">
            <h5>Auto Updates</h5>
            <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          </div>
        </div>
      </div>

      <!-- Single Feature Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-feature-area d-flex mb-50">
          <div class="feature-icon">
            <i class="icon_adjust-vert"></i>
          </div>
          <div class="feature-text">
            <h5>Optimized Software</h5>
            <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          </div>
        </div>
      </div>

      <!-- Single Feature Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-feature-area d-flex mb-50">
          <div class="feature-icon">
            <i class="icon_archive_alt"></i>
          </div>
          <div class="feature-text">
            <h5>Daily Backups</h5>
            <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          </div>
        </div>
      </div>

      <!-- Single Feature Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-feature-area d-flex mb-50">
          <div class="feature-icon">
            <i class="icon_globe-2"></i>
          </div>
          <div class="feature-text">
            <h5>Wide Networking</h5>
            <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          </div>
        </div>
      </div>

      <!-- Single Feature Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-feature-area d-flex mb-50">
          <div class="feature-icon">
            <i class="icon_shield"></i>
          </div>
          <div class="feature-text">
            <h5>Protected</h5>
            <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          </div>
        </div>
      </div>

      <!-- Single Feature Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-feature-area d-flex mb-50">
          <div class="feature-icon">
            <i class="icon_headphones"></i>
          </div>
          <div class="feature-text">
            <h5>Free Support</h5>
            <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Feature Pattern -->
  <div class="feature-pattern">
    <img src="img/core-img/welcome-pattern.png" alt="">
  </div>
</section>

<!-- Price Plan Area Start -->
<section class="hami-price-plan-area mt-50">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Choose Your Web Hosting Plan</h2>
          <p>You want custom hosting plan. No hidden charge.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">

      <!-- Single Price Plan -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-price-plan mb-100">
          <!-- Title -->
          <div class="price-plan-title">
            <h4>Standard Hosting</h4>
            <p>On sale - Save 50%</p>
          </div>
          <!-- Value -->
          <div class="price-plan-value">
            <h2><span>$</span>1.99</h2>
            <p>/per month</p>
          </div>
          <!-- Button -->
          <a href="#" class="btn hami-btn w-100 mb-30">Get Started</a>
          <!-- Description -->
          <div class="price-plan-desc">
            <p><i class="icon_check"></i> Unlimited Number of Websites</p>
            <p><i class="icon_check"></i> Unlimited Email Accounts</p>
            <p><i class="icon_check"></i> Unlimited Bandwidth</p>
            <p><i class="icon_check"></i> 2X Processing Power &amp; Memory</p>
          </div>
          <!-- View All Feature Button -->
          <a href="#" class="btn view-all-btn">Click here to see all features</a>
        </div>
      </div>

      <!-- Single Price Plan -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-price-plan active mb-100">
          <!-- Popular Tag -->
          <div class="popular-tag">
            <i class="icon_star"></i> Best Plan <i class="icon_star"></i>
          </div>
          <!-- Title -->
          <div class="price-plan-title">
            <h4>Advanced Hosting</h4>
            <p>On sale - Save 70%</p>
          </div>
          <!-- Value -->
          <div class="price-plan-value">
            <h2><span>$</span>3.99</h2>
            <p>/per month</p>
          </div>
          <!-- Button -->
          <a href="#" class="btn hami-btn w-100 mb-30">Get Started</a>
          <!-- Description -->
          <div class="price-plan-desc">
            <p><i class="icon_check"></i> Unlimited Number of Websites</p>
            <p><i class="icon_check"></i> Unlimited Email Accounts</p>
            <p><i class="icon_check"></i> Unlimited Bandwidth</p>
            <p><i class="icon_check"></i> 2X Processing Power &amp; Memory</p>
          </div>
          <!-- View All Feature Button -->
          <a href="#" class="btn view-all-btn">Click here to see all features</a>
        </div>
      </div>

      <!-- Single Price Plan -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-price-plan mb-100">
          <!-- Title -->
          <div class="price-plan-title">
            <h4>Unlimited Hosting</h4>
            <p>On sale - Save 50%</p>
          </div>
          <!-- Value -->
          <div class="price-plan-value">
            <h2><span>$</span>7.99</h2>
            <p>/per month</p>
          </div>
          <!-- Button -->
          <a href="#" class="btn hami-btn w-100 mb-30">Get Started</a>
          <!-- Description -->
          <div class="price-plan-desc">
            <p><i class="icon_check"></i> Unlimited Number of Websites</p>
            <p><i class="icon_check"></i> Unlimited Email Accounts</p>
            <p><i class="icon_check"></i> Unlimited Bandwidth</p>
            <p><i class="icon_check"></i> 2X Processing Power &amp; Memory</p>
          </div>
          <!-- View All Feature Button -->
          <a href="#" class="btn view-all-btn">Click here to see all features</a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Price Plan Area End -->
