<header class="header">
  <a href="" class="logo">EHost</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
 <!-- -->
  <ul class="menu">
    <li><a href="#work">Our Work</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#careers">Careers</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header>

<section class="we-offer-area text-center bg-gray" style="padding-top: 120px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site-heading text-center">
          <h2>What we <span>Offer</span></h2>
          <h4>Lorem Ipsum is simply dummy text</h4>
        </div>
      </div>
    </div>
    <div class="row our-offer-items less-carousel">
      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-pen-fancy"></i>
          <h4>Project creation</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-dharmachakra"></i>
          <h4>Software Development</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-tasks"></i>
          <h4>Porject Management</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-tachometer-alt"></i>
          <h4>Porject Impliment</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-recycle"></i>
          <h4>Software Update</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-headset"></i>
          <h4>24/7 Support</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <!-- End Single Item -->
    </div>
  </div>
</section>
<!-- Price Plan Area Start -->
<section class="hami-price-plan-area mt-50">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Choose Your Web Hosting Plan</h2>
          <p>You want custom hosting plan. No hidden charge.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">

      <!-- Single Price Plan -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-price-plan mb-100">
          <!-- Title -->
          <div class="price-plan-title">
            <h4>Standard Hosting</h4>
            <p>On sale - Save 50%</p>
          </div>
          <!-- Value -->
          <div class="price-plan-value">
            <h2><span>$</span>1.99</h2>
            <p>/per month</p>
          </div>
          <!-- Button -->
          <a href="#" class="btn hami-btn w-100 mb-30">Get Started</a>
          <!-- Description -->
          <div class="price-plan-desc">
            <p><i class="icon_check"></i> Unlimited Number of Websites</p>
            <p><i class="icon_check"></i> Unlimited Email Accounts</p>
            <p><i class="icon_check"></i> Unlimited Bandwidth</p>
            <p><i class="icon_check"></i> 2X Processing Power &amp; Memory</p>
          </div>
          <!-- View All Feature Button -->
          <a href="#" class="btn view-all-btn">Click here to see all features</a>
        </div>
      </div>

      <!-- Single Price Plan -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-price-plan active mb-100">
          <!-- Popular Tag -->
          <div class="popular-tag">
            <i class="icon_star"></i> Best Plan <i class="icon_star"></i>
          </div>
          <!-- Title -->
          <div class="price-plan-title">
            <h4>Advanced Hosting</h4>
            <p>On sale - Save 70%</p>
          </div>
          <!-- Value -->
          <div class="price-plan-value">
            <h2><span>$</span>3.99</h2>
            <p>/per month</p>
          </div>
          <!-- Button -->
          <a href="#" class="btn hami-btn w-100 mb-30">Get Started</a>
          <!-- Description -->
          <div class="price-plan-desc">
            <p><i class="icon_check"></i> Unlimited Number of Websites</p>
            <p><i class="icon_check"></i> Unlimited Email Accounts</p>
            <p><i class="icon_check"></i> Unlimited Bandwidth</p>
            <p><i class="icon_check"></i> 2X Processing Power &amp; Memory</p>
          </div>
          <!-- View All Feature Button -->
          <a href="#" class="btn view-all-btn">Click here to see all features</a>
        </div>
      </div>

      <!-- Single Price Plan -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-price-plan mb-100">
          <!-- Title -->
          <div class="price-plan-title">
            <h4>Unlimited Hosting</h4>
            <p>On sale - Save 50%</p>
          </div>
          <!-- Value -->
          <div class="price-plan-value">
            <h2><span>$</span>7.99</h2>
            <p>/per month</p>
          </div>
          <!-- Button -->
          <a href="#" class="btn hami-btn w-100 mb-30">Get Started</a>
          <!-- Description -->
          <div class="price-plan-desc">
            <p><i class="icon_check"></i> Unlimited Number of Websites</p>
            <p><i class="icon_check"></i> Unlimited Email Accounts</p>
            <p><i class="icon_check"></i> Unlimited Bandwidth</p>
            <p><i class="icon_check"></i> 2X Processing Power &amp; Memory</p>
          </div>
          <!-- View All Feature Button -->
          <a href="#" class="btn view-all-btn">Click here to see all features</a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Price Plan Area End -->
